[Desktop Entry]
Name=laMETA
Comment=help with organising collections of files
Exec=lameta-unofficial
Icon=${SNAP}/meta/gui/lameta-unofficial.png
Type=Application
Categories=Science;
Terminal=false
StartupNotify=false
StartupWMClass=laMETA
Keywords=SayMore;lameta;